<div class="main-container">
  <div class="content-container">
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1vh;
      "
    >
      <p class="header">Password Reset</p>

      <p class="subHeader">
        If there is an account associated with this email then the password
        reset will be sent.
      </p>
    </div>

    <div class="passwordReset" *ngIf="isSubmitted; else notSubmitted">
      Password Reset Sent
    </div>

    <ng-template #notSubmitted>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 4vh;
        "
      >
        <label style="font-size: 1.2rem" for="email">Email</label>
        <input pInputText id="email" [(ngModel)]="value" />
      </div>

      <div style="width: 100%">
        <p-button pRipple (click)="submit()" label="Submit" />
      </div>
    </ng-template>
  </div>
</div>
