<div class="card" style="display: flex; align-items: center">
  <div style="flex: 2">
    <p-galleria
      [value]="post.images"
      [circular]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [containerStyle]="{}"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.urlProperty" style="width: 100%" />
      </ng-template>
    </p-galleria>
  </div>
  <div style="flex: 0.5"></div>
  <div class="content" style="display: flex; flex-direction: column; flex: 5">
    <div
      class="headerSection"
      style="display: flex; width: 100%; justify-content: space-between"
    >
      <p class="postHeader">{{ post.title }}</p>

      <p-chip
        [style]="{
          backgroundColor: getCategoryData(post.category).color,
        }"
      >
        <span class="material-icons">{{
          getCategoryData(post.category).icon
        }}</span>
        <span style="margin-left: 0.5rem; margin-right: 0.5rem">{{
          post.category
        }}</span>
      </p-chip>
    </div>

    <p class="orgNameAndAddress">
      {{ post.organization?.name }} | {{ post.organization?.street }},
      {{ post.organization?.city }}, {{ post.organization?.state }},
      {{ post.organization?.zipcode }}
    </p>

    <p class="description">
      {{ post.description }}
    </p>

    <p-button pRipple label="Learn More" />
  </div>
</div>
