<p-confirmDialog />

<div *ngIf="this.firebaseService.currentUser | async as user">
  <!-- Display user info -->

  <div class="primaryContainer">
    <div class="animatedBackground">
      <div class="orgSummary">
        <div style="text-align: center; margin-top: 3.5vh">
          <p class="orgName">{{ currentOrganization?.name }}</p>
          <p class="orgAddress">
            {{ currentOrganization?.street }}, {{ currentOrganization?.city }},
            {{ currentOrganization?.state }}, {{ currentOrganization?.zipcode }}
          </p>
          <p class="orgDescription">{{ currentOrganization?.description }}</p>
        </div>

        <div style="width: 100%">
          <p-button
            [style]="{
              backgroundColor: '#f4f3f2',
              color: 'black',
              marginBottom: '1vh',
            }"
            pRipple
            label="Edit Profile"
          />
          <p-button
            [style]="{ backgroundColor: '#ef4443', color: 'white' }"
            pRipple
            label="Logout"
            (click)="logout()"
          />
        </div>
      </div>
    </div>
    <div class="postSummary">
      <div
        style="
          width: 100%;
          margin-top: 5vh;
          margin-bottom: 5vh;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        "
      >
        <p
          style="
            font-size: 4.8rem;
            font-weight: 700;
            font-family: Roboto, sans-serif;
            margin: 0;
          "
        >
          Your Posts
        </p>

        <div>
          <p-button
            (click)="createPost()"
            [disabled]="this.numOfActivePosts >= 3"
            [style]="{
              backgroundColor:
                this.numOfActivePosts >= 3 ? '#cccccc' : '#003366',
              color: this.numOfActivePosts >= 3 ? '#666666' : 'white',
              width: '10vw',
              padding: '1rem',
            }"
            pRipple
            [icon]="this.numOfActivePosts >= 3 ? 'pi pi-lock' : 'pi pi-plus'"
            label="Create Post"
          ></p-button>

          <p
            *ngIf="this.numOfActivePosts >= 3"
            style="color: red; margin-top: 0.5rem"
          >
            You have reached the maximum limit of posts.
          </p>
        </div>
      </div>

      <div
        style="display: flex; flex-direction: column; width: 100%; height: 80%"
      >
        <div class="postContainer" *ngFor="let post of organizationPosts">
          <div
            style="
              display: flex;
              flex-direction: column;
              width: 70%;
              text-align: left;
            "
          >
            <p class="postTitle">{{ post.title }}</p>
            <p class="postDescription">{{ post.description }}</p>
          </div>

          <div style="width: 30%; display: flex; justify-content: space-evenly">
            <p-chip
              [style]="{
                backgroundColor: getCategoryData(post.category).color,
              }"
            >
              <span class="material-icons">{{
                getCategoryData(post.category).icon
              }}</span>
              <span style="margin-left: 0.5rem; margin-right: 0.5rem">{{
                post.category
              }}</span>
            </p-chip>

            <p-button
              (click)="editPost(post)"
              [style]="{
                backgroundColor: '#f4f3f2',
                color: 'black',
                marginBottom: '1vh',
                width: '100%',
              }"
              pRipple
              icon="pi pi-pen-to-square"
            />
            <p-button
              (click)="confirmDelete($event, post)"
              [style]="{
                backgroundColor: '#ef4443',
                color: 'black',
                width: '100%',
              }"
              pRipple
              icon="pi pi-trash"
            />
          </div>

          <p-overlayPanel #op [style]="{ width: '10vw' }">
            <div
              style="width: 100%; display: flex; flex-direction: column"
            ></div>
          </p-overlayPanel>
        </div>
      </div>
    </div>
  </div>
</div>
