/* You can add global styles to this file, and also import other style files */

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body{
    margin: 0;
    background-color: #f4f3f2;
}

html {
    font-size: 10px;
  }

  .header-text{
    color: #003366;
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  }

  .body-text{
    font-size: 1.75rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
  }

  .subheader-text{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  }

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
