<div class="landing-container">
  <div class="landing-content">
    <h1>Eagle Scout Project Match</h1>
    <h3>
      Connecting Eagle Scouts with meaningful projects from reputable
      organizations, helping Scouts achieve their ranks while organizations
      benefit from dedicated support.
    </h3>
  </div>
</div>

<div class="for-scouts-container">
  <div class="imgContainer">
    <img
      style="width: 100%"
      src="https://firebasestorage.googleapis.com/v0/b/eaglescoutwebsite.appspot.com/o/assets%2Fthroughthepark.png?alt=media&token=6d9558b1-895e-481a-aac5-627160c32dfd"
    />
  </div>
  <div class="spacer"></div>
  <div class="content">
    <h2 class="forHeader">For Scouts</h2>
    <div class="problem">
      <p class="forText">
        Are you finding it difficult to locate suitable projects to achieve your
        Eagle Scout rank? Facing difficulties in connecting with organizations
        that have meaningful projects available?
      </p>
    </div>
    <div class="solution">
      <p class="forText">
        Our platform simplifies your search for Eagle Scout projects. With a
        wide range of projects from reputable organizations, you can easily find
        opportunities that match your interests and skills. Our streamlined
        application process allows you to apply for projects and receive
        approvals quickly. Plus, we provide resources and support to help you
        successfully complete your projects and fulfill your Eagle Scout
        requirements. Use our website to focus on making a meaningful impact and
        reaching your scouting goals.
      </p>
    </div>
  </div>
</div>

<div class="for-organizations-container">
  <div class="content">
    <h1 class="forHeader">For Organizations</h1>

    <div class="problem">
      <p class="forText">
        Struggling to find reliable volunteers for your important projects?
        Limited outreach and resource constraints to attract dedicated
        individuals who can help achieve your goals? Difficulty Managing and
        coordinating volunteer efforts?
      </p>
    </div>

    <div class="solution">
      <p class="forText">
        Our platform connects you with motivated Eagle Scouts eager to take on
        meaningful projects. By posting your projects on our site, you gain
        access to a pool of dedicated scouts committed to making a positive
        impact. Our user-friendly interface makes it easy to post, manage, and
        track projects, ensuring a streamlined process. With our platform, you
        can overcome volunteer shortages and focus on fulfilling your mission
        with the support of enthusiastic and capable scouts.
      </p>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="imgContainer">
    <img
      style="width: 100%"
      src="https://firebasestorage.googleapis.com/v0/b/eaglescoutwebsite.appspot.com/o/assets%2Fconstruction.png?alt=media&token=bdbe4e3d-7077-4467-8d62-23675f75c7eb"
    />
  </div>
</div>

<h1 style="font-size: 5.6rem; margin-bottom: 5vh; text-align: center">
  Getting Started
</h1>
<div class="startContainer">
  <div class="scouts">
    <h1 class="startHeader">Scouts</h1>
    <p class="startText">
      Getting started is easy. No account or personal information is needed; we
      respect your privacy. Simply browse available projects and find one that
      interests you. Each listing includes the organization's contact info for
      direct communication. All arrangements are handled between you and the
      organization. We provide the contact details, and you handle the rest.
    </p>

    <p-button
      [style]="{
        width: '20vw',
        padding: '1rem',
        borderRadius: '1rem',
        fontSize: '1.6rem',
        marginTop: '3vh',
      }"
      label="Find Projects Now"
      (click)="findProjectsClick()"
    />
  </div>
  <div class="organizations">
    <h1 class="startHeader">Organizations</h1>
    <p class="startText">
      To start using our platform, simply apply to create an account. We only
      ask for your organization's name, address, and contact email. After
      submitting your application, our team will manually verify the details.
      Once approved, you will receive an email with your login information.
      After logging in, you can start posting your projects immediately. This
      ensures that only reputable organizations are part of our community,
      providing a trustworthy environment for Eagle Scouts to find meaningful
      projects.
    </p>
    <p-button
      [style]="{
        width: '20vw',
        padding: '1rem',
        borderRadius: '1rem',
        fontSize: '1.6rem',
        marginTop: '3vh',
      }"
      [label]="buttonLabel"
      (click)="applyOrDashboardClick()"
    ></p-button>
  </div>
</div>
